@tailwind base;
@tailwind components;
@tailwind utilities;

/* This ensures the background color is always correct globally */
@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 transition-colors duration-300;
  }
}

